body {
    font-family: salesforce-sans,"Helvetica Neue",helvetica,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1 {
    color: darksalmon;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

::placeholder {
    font-style: italic;
}
